body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;   /* left-right center */
    align-items: center;       /* top-bottom center */
    background-color: #f2f2f2;
}

form{
    width: 100%;
    display: flex;
    justify-content: center;
}


.container {
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
    width: 40%;
    height: 70vh;
    margin-top: 0px;
}
h1{
    margin-top: 0;
    text-align: center;
    padding-top: 3%;
    background-color: green;
    color: white;
    height: 50px;
}

.input{
  padding-left: 10%;
}
.input input{
    width: 80%;
    height: 40px;
}
.first{
    padding-left: 10%;
    color: green;
}
button{
    margin-left: 10%;
    width: 73%;
    height: 40px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
}
.input{
    position: relative;
    margin-bottom: 15px;
}

.input input{
    width: 80%;
    height: 40px;
    padding-left: 55px;          
    box-sizing: border-box;
}

.input .icon{
    position: absolute;
    left: 10%;
    top: 0;
    width: 40px;
    height: 40px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.input .icon i{
    color: white;
    font-size: 16px;
}
.second{
    padding-left: 30%;
    color: black;
}
span{
    color: green;
}
.first:hover{
    color: rgb(149, 238, 7);
}
span:hover{
    color: rgb(149, 238, 7);
}
